body{
    background: black;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
}
ul{
    list-style: none;
}
.ulbackground{
    background: rgb(33, 71, 71);
    padding: 20px;
}
li{
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-align: center;
}
hr{
    border: 1px solid whitesmoke;
}

.heading{
    margin-top:10px;
    padding: 10px;
    background: rgb(33, 71, 71);
    font-size: 27px;
}
.heading p{
    color: whitesmoke;
    text-shadow: 2px 3px black;    
}
.inner{
    padding: 5px;
    background-color: black;
    color:red;
    text-align:center;
    font-size:35px;
    font-weight:bold;
}

.countriesbackground{
    background: rgb(33, 71, 71); 
    padding: 20px;  
}

#countries{     
    overflow: auto;
    height: 680px;      
}
