body{
    background: black;
    background-image: url(../images/img1.jpg);
    background-position: center;
    background-size: cover;
    height: auto;
}
ul{
    list-style: none;
}
.ulbackground{
    background: black;
    padding: 20px;
}
li{
    text-decoration: none;
    font-size: 22px;
    color: white;
    text-align: center;
}
hr{
    border: 1px solid white;
    width: 50%;
}

.heading{
    margin-top:10px;
    padding: 10px;
    background: rgb(33, 71, 71);
    font-size: 27px;
    text-shadow: 2px 3px black;
}
.heading p{
    color: whitesmoke;        
}
.inner{
    padding: 5px;
    background-color: black;
    color:red;
    text-align:center;
    font-size:35px;
    font-weight:bold;
}
.countriesbackground{
    background: black; 
    padding: 20px;  
}

#countries{     
    overflow: auto;
    height: 680px;      
}
.red{
    color: red;
}
select{
    background-color: black;
    color: white;
    height: 80px;
}
option{   
    color: red;
    background-color: black; 
    font-size: large; 
}




